{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user_obj == request.user %}
        <li class="nav-item"><a class="nav-link" href="{% url "accounts:user_update" user_obj.pk %}">Обновить профиль</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:user_change_password' user_obj.pk %}">Поменять пароль</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="object row px-0">
    <div class="col-4">
        {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="210" height="210" alt="user picture">
            {% else %}
            <img class="avatar" src="{% static 'img/anonim.jpg' %}" width="210" height="210" alt="user picture">
        {% endif %}
    </div>
    <div class="col-8 pr-0 ">
     <h2 class="mx-auto mb-5">Профиль: {{ user_obj.username }}</h2>
    <div class="row">
        <div class="col-6 pl-5">
            <p class="d-block">Имя:</p>
        </div>
        <div class="col-6">
            <p><b>{{ user_obj.first_name }}</b></p>
        </div>
    </div>
     <div class="row ">
        <p class="col-6 pl-5">Email:</p>
        <p class="col-6"><b>{{ user_obj.email }}</b></p>
        </div>

    </div>
    </div>
        <div>
            <h2>Отзывы этого автора</h2>

    {% for review in user_obj.reviews.all %}
            <div class="review">
        <h3>Отзыв к <a href="{% url 'webapp:detail_product' review.product.id %}">{{ review.product }}</a></h3>
<p>{{ review.text }}</p>
<p>Оценка: <b>{{ review.mark }}</b></p>
                {% if user_obj == request.user or perms.webapp.change_review %}
    <a href="{% url 'webapp:update_review' review.pk %}">Изменить отзыв</a>
    <a href="{% url 'webapp:delete_review' review.pk %}">Удалить отзыв</a>
            {% endif %}
            </div>
                {% endfor %}
    </div>


{% endblock %}