{% extends 'base.html' %}
{% load staticfiles %}
{% block menu %}
    {% if perms.webapp.change_product %}
     <li class="nav-item"><a href="{% url 'webapp:update_product' product.pk %}" class="nav-link">Изменить товар</a></li>
     <li class="nav-item"><a href="{% url 'webapp:delete_product' product.pk %}" class="nav-link">Удалить товар</a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li class="nav-item"><a href="{% url 'webapp:create_review' product.pk %}" class="nav-link">Добавить отзыв к товару</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<div class="row ">
        <div class="col-6">
                    {% if product.img %}
                    <img src="{{ product.img.url }}" class="product-image"  alt="{{ product.name }}">
                    {% else %}
                    <img src="{% static 'img/no-photo.png' %}"   class= "product-image" alt="{{ product.name }}">
                    {% endif %}
        </div>
                    <div class="card-body col-6">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <h6>Рейтинг товара по отзывам: {{ product.get_average }}</h6>
                        {% include 'product/star.html' %}
                        <p class="card-text">Категория: {{ product.get_category_display }}</p>
                        <p>Описание: <br>
                            {% if product.description %}
                                {{ product.description }}
                            {% else %}
                                У этого товара нет описания...
                            {% endif %}
                        </p>

                    </div>
                </div>
    {% for review in product.reviews.all %}
    {% include 'review/review_list.html' %}
    {% endfor %}
{% endblock %}